<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>There are currently {{blog_count}} blog{{blog_count|pluralize}}</h2>

    {% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}"><h1>{{blog.title}}</h1></a>
    <h3>{{ blog.date|date:'M d Y'|upper  }}</h3>
    <p>{{blog.description|striptags|truncatechars:100}}</p>
    
    {% endfor %}
</body>
</html>